.about .about__dp {
  height: 80vh;
}

@media (max-width: 800px) {
  .about .about__dp {
    height: 50vh;
  }
}

.about .about__dp img {
  width: 100%;
  height: 100%;
}

.about .about__text {
  padding: 50px;
  width: 30%;
  padding-bottom: 50px;
}

@media (max-width: 1024px) {
  .about .about__text {
    padding: 50px 20px;
  }
}

@media (max-width: 1024px) {
  .about .about__text {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .about .about__text {
    width: 100%;
  }
}

.about .about__text h1 {
  font-size: 50px;
  color: #272640;
  padding-bottom: 10px;
}

.about .about__text P {
  color: #444;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.about .about__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px 50px 50px;
}

@media (max-width: 1024px) {
  .about .about__details {
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 800px) {
  .about .about__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .about__details p {
  padding: 0 20px 0 0;
}

@media (max-width: 800px) {
  .about .about__details p {
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .about .about__details p {
    padding-right: 0;
  }
}

.about__wrap {
  padding: 50px;
}

@media (max-width: 900px) {
  .about__wrap {
    padding: 50px 20px;
  }
}

.about__wrap-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
}

.about__wrap-card-img {
  width: 50%;
  position: relative;
}

@media (max-width: 900px) {
  .about__wrap-card-img {
    width: 100%;
  }
}

.about__wrap-card-img-bg {
  width: 100%;
  background: #272640;
  height: 100%;
  position: absolute;
}

.about__wrap-card-img-image {
  padding: 30px 30px 0 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.about__wrap-card-img-image img {
  width: 100%;
  height: 100%;
}

.about__wrap-card-text {
  width: 47%;
}

@media (max-width: 900px) {
  .about__wrap-card-text {
    padding: 20px 0;
    width: 100%;
  }
}

.about__wrap-card-text svg {
  color: #065a60;
  font-size: 50px;
  padding-bottom: 10px;
}

.about__wrap-card-text h1 {
  font-size: 30px;
  color: #272640;
  padding-bottom: 10px;
}

@media (max-width: 500px) {
  .about__wrap-card-text h1 {
    font-size: 25px;
  }
}

.about__wrap-card-text p {
  font-weight: 500;
  padding-bottom: 20px;
}

.about__wrap-card.diff {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.about__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
}

@media (max-width: 1024px) {
  .about__end {
    padding: 50px 20px;
  }
}

.about__end div {
  width: 22%;
  text-align: center;
}

@media (max-width: 800px) {
  .about__end div {
    width: 48%;
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .about__end div {
    width: 100%;
  }
}

.about__end div h1 {
  color: #272640;
  font-size: 25px;
  padding-bottom: 10px;
}

.about__end div p {
  font-size: 14px;
  color: #444;
}
/*# sourceMappingURL=About.css.map */