@import '../../resources';

.topbook {
  padding: 50px 30px;
  background-color: $color2;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & &__head {
    width: 15%;
    text-align: center;
    padding: 100px 0;
    @include mobile-2 {
      width: 100%;
    }
    & h2 {
      font-weight: 500;
      padding-bottom: 10px;
    }
    & h1 {
      font-size: 40px;
      padding-bottom: 10px;
    }
  }
  & &__wrap {
    width: 80%;
    @include mobile-2 {
      width: 100%;
    }
    &-swip {
      width: 100%;
      &-card {
        text-align: center;
        & img {
          width: 100%;
        }
        & a {
          text-decoration: none;

          & h1 {
            color: #fff;
            font-size: 20px;
          }
        }
        & p {
          color: #f0e9e9;
          & a {
            color: #f0e9e9;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
