.cartPage .cart-hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000004f), to(#0000004f)), url("https://res.cloudinary.com/osaz/image/upload/v1636067108/Book%20Home/Events/toa-heftiba-462478-unsplash_kbpils.jpg");
  background-image: linear-gradient(#0000004f, #0000004f), url("https://res.cloudinary.com/osaz/image/upload/v1636067108/Book%20Home/Events/toa-heftiba-462478-unsplash_kbpils.jpg");
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #fff;
}

@media (max-width: 600px) {
  .cartPage .cart-hero {
    padding: 0 20px;
    font-size: 30px;
    text-align: right;
  }
}

.cartPage .cart-wrap {
  padding: 50px;
  overflow-x: auto;
  scrollbar-width: thin;
}

@media (max-width: 900px) {
  .cartPage .cart-wrap {
    padding: 50px 0px;
  }
}

.cartPage .cart-wrap::-webkit-scrollbar {
  width: 10px;
}

.cartPage .cart-wrap::-webkit-scrollbar-track {
  background-color: #14213d;
}

.cartPage .cart-wrap::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #272640;
          box-shadow: inset 0 0 6px #272640;
  background: #272640;
}

.cartPage .cart-wrap .cart-table {
  width: 100%;
}

.cartPage .cart-wrap .cart-table thead {
  background: #272640;
}

.cartPage .cart-wrap .cart-table thead tr th {
  padding: 10px;
  color: #fff;
}

.cartPage .cart-wrap .cart-table tbody tr td {
  padding: 20px 10px;
  border-bottom: 1px solid #14213d;
  text-align: center;
  min-height: 85px;
}

@media (max-width: 800px) {
  .cartPage .cart-wrap .cart-table tbody tr td {
    min-width: 40vw;
  }
}

.cartPage .cart-wrap .cart-table tbody tr td .delete {
  color: red;
  font-size: 25px;
  cursor: pointer;
  border: none;
  background: none;
}

.cartPage .cart-wrap .cart-table tbody tr td img {
  width: 80px;
}

.cartPage .cart-wrap .cart-table tbody tr td input {
  width: 100px;
  border: 1px solid #272640;
  padding: 10px;
  text-align: center;
}

.cartPage .cart-wrap .cart-table tbody tr td .qty {
  font-size: 15px;
  padding: 6px 0;
}

.cartPage .cart-wrap .cart-table tbody tr td .qty-btn button {
  padding: 0px 5px;
  font-size: 20px;
  font-weight: bold;
  background: #272640;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.cartPage .cart-wrap .empty {
  padding: 20px 0;
  font-size: 25px;
  color: #14213d;
}

.cartPage .cart-check {
  padding: 50px;
}

@media (max-width: 900px) {
  .cartPage .cart-check {
    padding: 50px 0px;
  }
}

.cartPage .cart-check .cart-check-head {
  padding: 10px 20px;
  background: #272640;
  color: #fff;
}

.cartPage .cart-check .cart-wrapper {
  padding-top: 20px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .cartPage .cart-check .cart-wrapper {
    padding: 0 20px;
  }
}

.cartPage .cart-check .cart-wrapper h3 {
  font-weight: 600px;
  color: #555;
}

.cartPage .cart-check .cart-wrapper h2 {
  color: #14213d;
  text-align: right;
  padding-bottom: 30px;
}

.cartPage .cart-check .cart-wrapper button {
  padding: 10px 20px;
  background: #14213d;
  font-weight: bold;
  border: none;
  color: #fff;
  cursor: pointer;
}
/*# sourceMappingURL=Cart.css.map */