@import '../../resources';
.map{
 &-where{
  width: 100%;
  height: 100vh;
 }
 &-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  &-card {
        width: 30%;
        text-align: center;
        @include mobile-2 {
         width: 50%;
         padding-bottom: 30px;
        }
         @include mobile-2 {
         width: 100%;
         }
        &-i {
          padding-bottom: 20px;
          & svg {
            color: $color2;
            font-size: 40px;
          }
        }
        & h2{
         color: $color1;
         padding-bottom: 10px;
        }
      }
 }
}