@import '../../resources';
.checkOut {
  padding: 100px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mobile-2 {
    padding: 100px 20px;
  }
  & h1 {
    font-size: 30px;
    padding-bottom: 15px;
    color: #272640;
    font-weight: 900;
  }
  & &-billings {
    width: 65%;
    @include mobile-6 {
      padding-bottom: 30px;
      width: 100%;
    }
    .billings-wrap {
      display: flex;
      flex-wrap: wrap;
      .billings-card {
        width: 48%;
        @include mobile-2 {
          width: 100%;
        }
        padding-bottom: 30px;
        &.long {
          width: 100%;
          & input {
            width: 91.5%;
            @include mobile-2 {
              width: 95%;
            }
            &.stri {
              input {
                border-radius: 6px;
                margin-bottom: 6px;
                padding: 12px;
                border: 1px solid rgba(50, 50, 93, 0.1);
                max-height: 44px;
                font-size: 16px;
                width: 100%;
                background: red;
                box-sizing: border-box;
              }
            }
          }
        }

        & input,
        & select {
          width: 90%;
          padding: 10px;
          @include mobile-2 {
            width: 95%;
          }
        }
        & p {
          padding-bottom: 10px;
        }
      }
    }
  }
  & &-order {
    width: 30%;
    @include mobile-6 {
      width: 100%;
      padding-bottom: 30px;
    }
    & .order-wrap {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      & h2 {
        color: #065a60;
      }
      & h3 {
        color: #000;
        padding: 20px 0;
      }
      & li {
        list-style: none;
        font-size: 15px;
      }
    }
  }
  & &-button {
    width: 100%;
    display: flex;
    justify-content: right;
    & button {
      width: 150px;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      background: #272640;
      color: #fff;
      cursor: pointer;
    }
    .buttonFake {
      font-weight: bold;
      text-align: center;
      display: flex;
      align-items: center;
      padding: 10px;
      background: #065a60;
      color: #fff;
      cursor: pointer;
      .spim {
        padding-left: 10px;
        span {
          height: 18px !important;
        }
      }
    }
  }
}
.confirm {
  padding: 150px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile-4 {
    padding: 100px 20px;
  }
  & .wrapper {
    width: 50%;
    @include mobile-6 {
      width: 70%;
    }
    @include mobile-4 {
      width: 100%;
    }
    img {
      width: 100%;
      padding-bottom: 50px;
    }
    div {
      text-align: center;
      h2 {
        font-size: 40px;
        color: #272640;
        @include mobile-3 {
          font-size: 30px;
        }
      }
      p {
        padding: 10px;
        font-size: 20px;
        color: dimgrey;
        padding-bottom: 40px;
        @include mobile-3 {
          font-size: 15px;
        }
      }
      button {
        @include button;
      }
    }
  }
}
// .payment {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   background: #000;
//   z-index: 100;
// }
