@import '../../resources';

.major {
  padding: 100px 50px;
  @include mobile-6{
    padding: 100px 20px;
  }
  & &__head {
    padding: 30px 0;
    & h1 {
      font-size: 40px;
      color: $color1;
    }
  }
  & &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-sidebar {
      width: 25%;
       @include mobile-2{
         width: 100%;
       }
      & input {
        width: 100%;
        padding: 10px 20px;
        outline: none;
        background: #eff0f1;
        border: 1px solid #00000060;
        margin-bottom: 30px;
        &::placeholder{
          color: #000;
        }
      }
    }
    &-main {
      width: 70%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
       @include mobile-2{
         width: 100%;
       }
      &-card {
        width: 32%;
        text-align: center;
        padding-bottom: 50px;
        @include mobile-6{
          width: 47%;
        }
        & img {
          width: 100%;
          height: 350px;
          padding-bottom: 20px;
           @include mobile-6{
             height: 400px;
           }
            @include mobile-4{
             height: 250px;
           }
        }
        & a {
          text-decoration: none;
          & h2 {
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 10px;
            color: #212f45;
          }
          & h3 {
            color: $pcolor;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 13px;
            padding-bottom: 5px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        & p {
          padding: 20px 10px;
          color: $color2;
          & span {
            color: $pcolor;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
