@import '../../resources';
.error {
  height: 100vh;
  background: url('https://res.cloudinary.com/osaz/image/upload/v1634689852/Book%20Home/edgjauzwl80kf2mzyvxp.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  &-container {
    width: 40%;
    text-align: center;
    @include mobile-1 {
      width: 80%;
    }
    @include mobile-2 {
      width: 90%;
    }
    & h1 {
      font-size: 200px;
      background-image: url('https://res.cloudinary.com/osaz/image/upload/v1635611778/Book%20Home/valdemaras-d-7VPFyhB_j8Y-unsplash_k4ohl6.jpg');
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include mobile-2 {
        font-size: 100px;
      }
    }
    & button {
      @include button;
    }
    & h2 {
      padding-bottom: 10px;
    }
    & p {
      padding-bottom: 30px;
    }
  }
}
